@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #010302;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
}

.container {
    overflow: hidden;
    min-height: 100vh; 
}

.banner {
    height: 50vw; 
    position: relative;
    overflow: hidden;
}

.banner .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center bottom;
    transition: 0.1s;
}

.banner .bg:nth-child(1) {
    background-image: url(assets/banner_0.png);
}

.banner .bg:nth-child(2) {
    background-image: url(assets/banner_1.png);
}

.banner .bg:nth-child(3) {
    top: 25%;
    text-align: center;
}

.banner .bg:nth-child(3) h1,
.banner .bg:nth-child(3) h5 {
    color: #d1c3ae;
    font-size: 50px;
    margin: 0;
    text-shadow: 0 0px 20px #d2af76;
}

.banner .bg:nth-child(3) h1 {
    font-size: 11vw;
}

.banner .bg:nth-child(4) {
    background-image: url(assets/banner_2.png);
}

.banner .bg:nth-child(5) {
    background-image: url(assets/banner_3.png);
}

.tab {
    min-height: auto; 
    background-color: #010302;
    z-index: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px; 
    margin-top: 20px; 
}

.tab.tab1 {
    background: linear-gradient(to top, #010302 0%, transparent 20%, #010302 80%), url(assets/tab1.jpg);
}

.tab.tab2 {
    background: linear-gradient(to top, #010302 0%, transparent 20%, #010302 80%), url(assets/banner_2.png);
}

.tab.tab1 .content {
    width: 700px;
    max-width: 90%;
    color: #eee;
    margin-bottom: 8%; 
}

.tab.tab2 .content {
    color: #eee;
    width: 900px;
    max-width: 90%;
    margin: 0; 
}

.tab.tab2 .content .des {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

a {
    color: #d1c3ae;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0px 20px #d2af76;
}